<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Guías y Tutoriales Gamer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-card>
      <img src="assets/OIP (2).jpg" alt="Tutorial de League of Legends" />
      <ion-card-header>
        <ion-card-title>Tutorial de League of Legends</ion-card-title>
        <ion-card-subtitle>Domina las habilidades de tu campeón</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Aprende las estrategias avanzadas para conquistar la Grieta del Invocador y llevar a tu equipo a la victoria.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/hq720.jpg" alt="Guía de Dota 2" />
      <ion-card-header>
        <ion-card-title>Guía de Dota 2: Control del mapa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Controla el flujo del juego con nuestra guía experta en el manejo del mapa y el posicionamiento estratégico.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/maxresdefault.jpg" alt="Guía de Hearthstone" />
      <ion-card-header>
        <ion-card-title>Construye el mazo perfecto en Hearthstone</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Mejora tus habilidades de construcción de mazos con consejos y trucos de los jugadores top de Hearthstone.
      </ion-card-content>
    </ion-card>

    <!-- Añadir más tarjetas de guías y tutoriales según sea necesario -->
  </ion-list>
</ion-content>
