ion-header {
    ion-toolbar {
      --background: #121212; /* Fondo oscuro para el encabezado */
      --color: #ff2d55; /* Color resaltado para los títulos */
    }
  }
  
  ion-content {
    --background: #1e1e1e; /* Color de fondo principal oscuro */
    font-family: 'Arial', sans-serif; /* Fuente moderna y legible */
  }
  
  h1 {
    font-size: 2.2rem;
    color: #ff2d55; /* Color para títulos de sección */
    text-align: center;
    margin: 1.5rem 0;
  }
  
  /* Estilos para las tarjetas de eventos y torneos */
  ion-card {
    margin: 1rem;
    border-radius: 15px; /* Bordes redondeados para las tarjetas */
    overflow: hidden; /* Asegura que las imágenes no desborden las tarjetas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada para profundidad */
  
    img {
      width: 100%;
      height: 200px;
      object-fit: cover; /* Asegura que la imagen cubra el espacio disponible */
    }
  
    ion-card-header {
      --background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente para el título */
      --color: #ffffff; /* Color del texto */
      padding: 1rem; /* Espacio interno */
      border-bottom: 3px solid #ff2d55; /* Barra de color debajo del encabezado */
    }
  
    ion-card-title {
      font-size: 1.8rem; /* Tamaño más grande para el título del evento */
    }
  
    ion-card-content {
      --color: #cccccc; /* Color claro para el contenido */
      padding: 1rem;
      background-color: #2c2c2e; /* Fondo oscuro para el contenido */
      font-size: 1rem; /* Tamaño de fuente estándar para el contenido */
    }
  }
  
  /* Añade aquí más estilos personalizados según necesites */
  
  /* Ajustes para diseño responsivo */
  @media (max-width: 768px) {
    /* Adaptaciones para dispositivos móviles */
    h1 {
      font-size: 1.8rem; /* Tamaño de fuente más pequeño para títulos en móviles */
    }
  
    ion-card {
      img {
        height: 150px; /* Altura de imagen ajustada para dispositivos móviles */
      }
    }
  }
  