ion-content {
    --background: #f4f5f8; /* Color de fondo claro */
  }
  
  .login-card {
    background: #ffffff; /* Fondo blanco para la tarjeta de registro */
    border-radius: 15px;
    padding: 20px;
    width: 90%; /* Ajuste de anchura */
    max-width: 500px; /* Máximo ancho para dispositivos grandes */
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para la tarjeta */
  }
  
  ion-item {
    margin-bottom: 1rem; /* Espacio entre los campos de entrada */
  }
  
  .highlight-input {
    border-bottom: 2px solid #387ef5; /* Borde inferior azul para resaltar */
    transition: border-color 0.3s; /* Transición suave */
  }
  
  .highlight-input:focus {
    border-bottom: 2px solid #4a90e2; /* Borde inferior más claro al enfocar */
  }
  
  .uniform-button {
    --background: #387ef5; /* Azul como color principal */
    --color: white; /* Texto blanco */
    margin-top: 1rem; /* Margen superior uniforme */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para el botón */
  }
  
  .uniform-button[fill="outline"] {
    --border-color: #387ef5;
    --color: #387ef5;
    --background: transparent; /* Fondo transparente para el botón secundario */
  }
  
  /* Estilos para centrar el título de la página */
  ion-title {
    text-align: center;
    color: #323232; /* Color oscuro para el texto */
    padding: 1rem 0;
  }
  
  /* Ajustes para diseño responsivo */
  @media (max-width: 768px) {
    .login-card {
      padding: 1rem;
      margin-top: 3rem;
    }
    .highlight-input, ion-button.uniform-button {
      font-size: 1rem; /* Tamaño de fuente ajustado para dispositivos móviles */
    }
  }
  